*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(250, 239, 220);
}

body,html{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #645d5d;
}

.container{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 3vw;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-style: italic;
    border-bottom: 1px solid black;
}

#height, #weight{
    color: black;
    margin: 10px;
    font-size: 15px;
    padding: 5px 15px;
}

label{
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
}

button{
    color: black;
    padding: 5px;
    border-radius: 7px;
    margin: 10px 180px;
}

#results{
    display: flex;
    justify-content: center;
    margin: 10px 100px;
    font-weight: 600;
    padding: 0 4px;
    border: 0.5px solid rgb(248, 247, 247);
}

#weight-guide{
    padding: 0 105px;
}

#weight-guide h3{
    margin: 0px 17px;
}

#weight-guide p{
    margin: 10px;
}

